<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift3Sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YYKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F09DFA91D168AB4005EF0BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F09DFC01D168AB4005EF0BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F09DFCB1D168AB4005EF0BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCA45241D168B2700FBD3B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCA452D1D168B2700FBD3B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
